<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.brianseidman.alfred.loremalfred</string>
	<key>connections</key>
	<dict>
		<key>26103697-0AC0-43D6-AAE9-9B1DB52BD380</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>860EB7EB-D60F-440C-AC99-1F4C15025C14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>279D8663-ADBE-4ABE-B2D2-73D8AA178F2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26103697-0AC0-43D6-AAE9-9B1DB52BD380</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E059A44-1B43-4784-8CF0-2B52ED210FC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26103697-0AC0-43D6-AAE9-9B1DB52BD380</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>674E37F8-5F23-4C40-8427-C19BA51416D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E059A44-1B43-4784-8CF0-2B52ED210FC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD367C2D-D004-4C80-B011-8A65F4272F52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>279D8663-ADBE-4ABE-B2D2-73D8AA178F2E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste as plan text</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26103697-0AC0-43D6-AAE9-9B1DB52BD380</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F92DBE04-6EA8-4478-B052-07BFB86B57F0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Access modifiers</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F92DBE04-6EA8-4478-B052-07BFB86B57F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>674E37F8-5F23-4C40-8427-C19BA51416D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian Seidman</string>
	<key>description</key>
	<string>Generate HTML-encoded lorem ipsum text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lorem Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>plain</key>
					<string>plaintext</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>279D8663-ADBE-4ABE-B2D2-73D8AA178F2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:lorem_alfred_keyword}</string>
				<key>subtext</key>
				<string>Choose number of paragraphs or press Enter for default</string>
				<key>text</key>
				<string>Lorem Ipsum</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD367C2D-D004-4C80-B011-8A65F4272F52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>node loremalfred.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26103697-0AC0-43D6-AAE9-9B1DB52BD380</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>860EB7EB-D60F-440C-AC99-1F4C15025C14</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>loremalfred_template.txt</string>
				<key>inputtype</key>
				<integer>2</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>F92DBE04-6EA8-4478-B052-07BFB86B57F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>lorem_url</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2E059A44-1B43-4784-8CF0-2B52ED210FC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>----</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>674E37F8-5F23-4C40-8427-C19BA51416D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Lorem Alfred

An Alfred workflow primarily for generating HTML-coded dummy text.

By default, this workflow pastes two paragraphs of lorem ipsum text wrapped in HTML `&lt;p&gt;` paragraph tags into your frontmost app. The workflow uses the [Loripsum.net](https://loripsum.net) API to generate the text.

Other options include the number of paragraphs and pasting plain text instead of HTML. You can also access all the parameters of the API for further customization.

## Commands
- `li` — Generates two paragraphs of lorem ipsum text wrapped in `&lt;p&gt;` tags
- `li #` — Enter a number to generate a specific amount of paragraphs wrapped in `&lt;p&gt;` tags (i.e., `li 3` will return three paragraphs)
- `li/li #` + `Cmd` — Using the `Cmd` modifier will return the default or requested number of paragraphs in plain text
- `li` + `Ctl` — Typing `li` plus the `Ctl` modifier will open an Alfred Text View with a list of all the [Loripsum.net](https://loripsum.net) API modifiers. Update the URL accordingly and press `Enter` to generate your code (modifiers include paragraph length and HTML markup snippets)

## Credits
[Inscription](https://icons8.com/icon/rvCy4MQeqqcx/inscription) icon by [Icons8](https://icons8.com).</string>
	<key>uidata</key>
	<dict>
		<key>26103697-0AC0-43D6-AAE9-9B1DB52BD380</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>279D8663-ADBE-4ABE-B2D2-73D8AA178F2E</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>2E059A44-1B43-4784-8CF0-2B52ED210FC8</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>674E37F8-5F23-4C40-8427-C19BA51416D4</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>860EB7EB-D60F-440C-AC99-1F4C15025C14</key>
		<dict>
			<key>xpos</key>
			<real>1020</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>BD367C2D-D004-4C80-B011-8A65F4272F52</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>F92DBE04-6EA8-4478-B052-07BFB86B57F0</key>
		<dict>
			<key>note</key>
			<string>Generate lorem ipsum paragraphs with custom parameters</string>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>li</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The keyword to trigger Lorem Alfred. Defaults to "li."</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>lorem_alfred_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>2</integer>
				<key>markercount</key>
				<integer>5</integer>
				<key>maxvalue</key>
				<integer>10</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The number of paragraphs to return if not specified in Alfred. Must be a number; defaults to 2.</string>
			<key>label</key>
			<string>Default Number of Paragraphs</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>default_paragraph_count</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/brianseidman/lorem-alfred</string>
</dict>
</plist>
